*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    height: $alto;
    @if $colorfondouno == #040f16{
        background-color: $colorfondouno;
    } @else if $colorfondodos == #141204{
        background-color: #141204;
    }
    font-size: 18px;
    font-family: $letra;
    height: 100%;
}
.logoRon{
    @include cajamenu(100%);
    .ron{
        display: flex;
        align-items: center;
        color: $colorletracinco;
        font-size: 3em;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
}
.logo {
    width: 100px;    
}
.logo:hover {
        transform: rotateY(45deg);
}
.navbar{
    display: flex;
    justify-content: center;
}
.nav-link{
    @extend .navbar;
}
.contenedorMenu {
    background-color: radial-gradient(circle, #043bff 16%, #370488 51%, #009bff 90%);
    padding: 1px;
}
.navbar-brand{
    color: #fff;
}
.nav-link{
    color: #fff;
}
.tarjetas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-around;
}
.vinculoWhatsapp {
    display: block;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
} 
.vinculoWhatsapp:hover {
    transform: scale(1.5);
}
.contenedorpresentacion {
    @include cajacontenedor($letra, $colorcajauno);
}
.titulo-1{
    font-size: 3em;
}
#textoClub1{
    @include textouno ($letra, $colorletracinco); 
}
.cajitas{
    width: $ancho/3;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}
.caja{
    width: 100%/3;
    background-color: #035397;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    .caja_foto{
        width: 250px;
        height: 300px;
        display: flex;
        justify-content: center;
    }
}
.cajas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $colorcajauno;
    margin-bottom: 4px;
    padding: 4px;
    .cajas_foto{
        width: 200px;
    }
    .cajas_titulo{
        @include tituloprincipal($letra, $sizetitulo);
    }
}
.titulouno_caja{
    @include tituloprincipal($letra, $sizetitulo: 1.5em);
    color: #8AC4D0;
}
#textoClub1_caja{
    @include textouno ($letra, $colorletracinco:white); 
}
.carousel-inner {
    width: 200px;
}
.contenedorAliadosComerciales{
    @extend .contenedorpresentacion;
}
#titulodos{
    @include tituloprincipal($letra, $sizetitulo: 1.5em);
    align-content: center;
    color: $colorletracuatro;
}
.contenedorTablaIngredientesRon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: $colorletracinco;
}
.encabezadoTabla{
    color: $colorletracinco;
}
.cuerpoTabla{
    color: $colorletracinco;
}
.contenedorVideos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.contenedorMenu_footer{
    @extend .contenedorMenu;
    width: 100%;
    height: 100%;
    font-family: $letra;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    flex-flow: row wrap;
    align-content: flex-end;
    color: white;
}
#redesSociales{
    display: inline-flex;
    padding: 6px;
}
.contenedorclub{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: $colorcajados;
    margin-bottom: 4px;
    .contenedorclub_foto{
        width: 200px;
    }
}
.titulo-5{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.tituloClub{
    display: flex;
    justify-content: center;
}
.formularioRon{
    display: flex;
    justify-content: center;
    background-color: $colorfondocuatro;
}
.fotoBeneficio{
    width: 200px;
}
