@mixin cajamenu($ancho) {
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    width: $ancho;
    height: auto;
    display: grid;
    justify-content: center;
}

@mixin cajacontenedor($letra, $colorcajauno, $flexible) {
    font-family: $letra;
    display: $flexible;
    flex-flow: row wrap;
    justify-content: center;
    background-color: $colorfondotres;
    margin-bottom: 4px;
}

@mixin nombre($letra, $colorletraseis, $flexible) {
    font-family: $letra;
    color: $colorletraseis;
    display: $flexible;
    flex-flow: row wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
}

@mixin textouno ($letra, $flexible, $colorletraseis) {
    font-family: $letra;
    display: $flexible;
    flex-flow: row wrap;
    text-align: center;
    font-size: 3em;
    padding: 0 20px 0 20px;
    margin: 20px;
    color: $colorletraseis;
}

@mixin cajas ($ancho) {
    width: $ancho/3;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}