$ancho: 100%;
$alto: 100%;
$colorfondouno: #040f16;

/*black pearl*/

$colorfondodos: #141204;

/*negro + amarillo*/

$colorfondotres:#003559;

/*petroleo*/

$colorfondocuatro: #59a5d8;

/*azul*/

$colorfondocinco: gray;

/*gris*/

$colorfondoseis: #B5EAEA;

/*verde claro*/

$colorletrauno: #3d3a3c;

/*gris oscuro*/

$colorletrados: #041c42;

/*azul*/

$colorletratres: #605f5c;

/*gris medio*/

$colorletracuatro: #dbd2e8;

/*gris claro*/

$colorletracinco: #c5f4cb;

/*verde claro*/

$colorletraseis: #ffffff;

/*blanco*/

$letra: 'Heebo',
sans-serif;
$flexible: flex;
$sizetitulo: 3em;
$logo: 100%;
$redes: (facebook: 50px, instagram: 50px, twitter: 50px);