$ancho: 100%;
$alto: 100%;
$colorfondouno: #040f16;
$colorfondodos: #141204;
$colorfondotres:#003559;
$colorfondocuatro: #59a5d8;
$colorfondocinco: gray;
$colorfondoseis: #B5EAEA;
$colorletrauno: #3d3a3c;
$colorletrados: #041c42;
$colorletratres: #605f5c;
$colorletracuatro: #dbd2e8;
$colorletracinco: #c5f4cb;
$colorletraseis: #ffffff;
$letra: 'Heebo',
sans-serif;
$flexible: flex;
$sizetitulo: 3em;
$logo: 100%;
$redes: (facebook: 50px, instagram: 50px, twitter: 50px);